  *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #root-entry {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  /* display: flex;
  flex-flow: column nowrap;
  align-items: center; */

  font-size: 16px;
  background-color: #ffffff;
}

#root-entry > div {
  /* height: 100vh; */
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
