
/* :: Mobile First ::  */

.button, a.button {
  position: relative;
  display: inline-block;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 15px;
  height: 34px;
  line-height: 33px;
  padding: 0 15px;
  margin: 5px;
  
  border: none;
  border-radius: 3px; 
  -webkit-border-radius: 3px; 
  -ms-border-radius: 3px; 
  -moz-border-radius: 3px;  
  
  text-decoration: none;
  cursor: pointer;
}

.button:hover, a.button:hover {
  opacity: 0.8; 
}

.button:disabled:hover, a.button:disabled:hover {
  opacity: 1; 
  cursor: default;
}

.button:focus, a.button:focus {
  outline: none;
  box-shadow:   0 0 6px rgba(0,117,142,1);  /* teal glow */
}

.button.primary, a.button.primary {
  color: #ffffff;
  background: #00758E;  
}

.button.primary:disabled, a.button.primary:disabled {
  color: #ffffff;
  background: #dddddd;  
}

/* Secondary */

.button.secondary, a.button.secondary {
    color: #00758E;
    background: transparent;  
    border: 1px solid #00758E;
  }
  
.button.secondary:hover, a.button.secondary:hover {
  opacity: 1;
  background: rgba(0,117,142,0.1);
  /*background: #CFF3F9;*/
}

.button.secondary:disabled, a.button.secondary:disabled {
  color: #dddddd;
  background: transparent;  
  border: 1px solid #dddddd;
}

/* Red and Green */
.button.primary.red {
  background-color: #da1b2c; 
}

.button.secondary.red {
  border-color: #da1b2c;
  color: #da1b2c; 
}

 .button.primary.green {
  background-color: #3b822e;
}

.button.secondary.green {
  color: #3b822e;
  border-color: #3b822e;
}

.button.secondary.green:hover, a.button.secondary.green:hover {
  opacity: 1;
  background: rgba(59,130,46,0.1);
  /*background: #CFF3F9;*/
}
  
.button.secondary.red:hover, a.button.secondary.red:hover {
  opacity: 1;
  background: rgba(218,27,44,0.1);
  /*background: #CFF3F9;*/
}

/* Icon */
.button.icon svg {
    position: absolute;
    top: 8px;
    left: 11px;
    width: 16px;
    height: 16px;
}
  
.button.icon {
     padding-left: 34px; 
}

.button.primary.icon svg {
  fill: #ffffff; 
}

.button.secondary.icon svg {
  fill: #00758E; 
}


/* :: Custom, iPhone Retina :: */ 
@media only screen and (min-width : 320px) {
  
}

/* :: Extra Small Devices, Phones :: */ 
@media only screen and (min-width : 480px) {

}

/* :: Small Devices, Tablets :: */
@media only screen and (min-width : 768px) {

}

/* :: Medium Devices, Desktops :: */
@media only screen and (min-width : 992px) {

}

/* :: Large Devices, Wide Screens :: */
@media only screen and (min-width : 1200px) {

}