
.container {
  height:100%;
  display: flex;
  flex-flow: column;
  background-color: #F3F3F3;
  font-family: 'Source Sans Pro', sans-serif;

  min-height: 450px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 1060px;
  padding: 15px;
  background-color: #FFF;
}
pre {
    margin-bottom: 1em;
    padding: 5px;
    padding-bottom: 20px !ie7;
    width: auto;
    width: 650px !ie7;
    max-height: 600px;
    overflow: auto;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    font-size: 13px;
    background-color: #eff0f1;
}

h2 {
  clear: both;
  padding: 5px 0;
  border-bottom: 1px solid #e4e6e8;
  margin-bottom: 1em;
}

.header {
  width: 100%;
  height: 50px;
  padding-left: 10px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  background-color: #152a34;
}

.iconGrid {

  justify-content: space-between;
}

.iconWrap {
  width: 140px;
  float: left;
  text-align: center;
  padding: 10px;
  font-size: smaller;
}
.iconName {
  display: block;
}
.brand {
  color:  red;
}

.snippets {
  width: 500px;
  padding-right: 10px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.snippet {
  color: lightblue;
}
.snippet:hover {
  background-color: green;
  cursor: pointer;
}

.mlreader-container {
  display:flex;
  flex-flow: column nowrap;
  flex:1;
  height:100%;
  margin: 0;
  padding:0;
}
.markerWrap {
  background-color: #152A34;
  border-radius: 2px;
  padding: 8px 8px;
vertical-align: middle;
}
.marker {
  display: inline;  
}
.eSnippetContainer {
  height: 400px;
  position: relative;
}